:root {
  --md-sys-color-primary: #0b7cbe;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #cee5ff;
  --md-sys-color-on-primary-container: #001d35;

  --md-sys-color-secondary: #4d616c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #cfe5ff;
  --md-sys-color-on-secondary-container: #0a1e28;

  --md-sys-color-tertiary: #5e5b7d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #e5deff;
  --md-sys-color-on-tertiary-container: #1a1836;

  --md-sys-color-error: #da6761;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-error-container: #410e0b;

  --md-sys-color-surface: #f8fcff;
  --md-sys-color-on-surface: #191c1e;
  --md-sys-color-surface-variant: #dee3e9;
  --md-sys-color-on-surface-variant: #42474e;
  --md-sys-color-surface-container: #ecf2f8;
  --md-sys-color-surface-container-high: #e6ecf2;
  --md-sys-color-surface-container-highest: #e0e7ec;

  --md-sys-color-outline: #72777f;
  --md-sys-color-outline-variant: #c2c7cf;

  --md-sys-elevation-0: none;
  --md-sys-elevation-1:
    0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-2:
    0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-3:
    0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);

  --md-sys-shape-corner-none: 0;
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-small: 8px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-extra-large: 28px;
  --md-sys-shape-corner-full: 9999px;

  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-duration-short: 200ms;
  --md-sys-motion-duration-medium: 300ms;
  --md-sys-motion-duration-long: 400ms;
}
